<div class="card border-dark mb-3">
    <div class="card-header">Clientes</div>
    <div class="card-body text-dark">
        <h5 class="card-title">Listado de clientes</h5>

        <div class="my-2 text-left">
            <button [routerLink]="['/clientes/form']" class="btn btn-rounded btn-primary">Crear cliente</button>
        </div>
        <table class="table table-bordered table-striped ">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Email</th>
                    <th>Fecha</th>
                    <th>Editar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cliente of clientes ">
                    <td>{{cliente.id}}</td>
                    <td>{{cliente.nombre}}</td>
                    <td>{{cliente.apellido}}</td>
                    <td>{{cliente.email}}</td>
                    <td>{{cliente.createdAt}}</td>
                    <td>
                        <button type="submit" name="button" class="btn btn-primary" [routerLink]="['/clientes/form',cliente.id]">Editar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>